<section>
  <div class="container">
    <div class="ad addAdBox">
      <div class="imgBox">
        <img src="../../../../assets/images/loading.jpg" alt="">
      </div>
      <div class="adFormBox">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <h2>Modification du profil</h2>
          <div class="form-group">
            <label for="lastname" class="ms-2 text-secondary">Nom</label>
            <input type="text" id="lastname" formControlName="lastname" [ngModel]="user?.lastname">
          </div>
          <div class="form-group">
            <label for="firstname" class="ms-2 text-secondary">Prénom</label>
            <input type="text" id="firstname" formControlName="firstname" [ngModel]="user?.firstname">
          </div>
          <div class="form-group">
            <label for="username" class="ms-2 text-secondary">Pseudo</label>
            <input type="text" id="username" formControlName="username" [ngModel]="user?.username">
          </div>
          <div class="form-group">
            <label for="email" class="ms-2 text-secondary">E-mail</label>
            <input type="text" id="email" formControlName="email" [ngModel]="user?.email">
          </div>
          <div class="form-group">
            <label for="address" class="ms-2 text-secondary">Adresse</label>
            <input type="text" id="address" formControlName="address" [ngModel]="user?.address">
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="ms-2 text-secondary">Numéro de téléphone</label>
            <input type="text" id="phoneNumber" formControlName="phoneNumber" [ngModel]="user?.phoneNumber">
          </div>

          <button class="btn btn-primary m-4 px-4" type="submit">Valider</button>
          <button class="btn btn-primary px-2" type="submit" [routerLink]="'/profile'">Profil</button>
        </form>
      </div>
    </div>
  </div>
</section>



